html, body {
	height: 100%;
}

body {
	background: #222;
	margin: 0;
	overflow: hidden;
	overflow-y: hidden;

	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 38px;
}

.post {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;

	display: none;
	background: #fff;
	overflow: hidden;
	color: #fff;
	font-weight: 100;
}

.post p {
	position: relative;
	top: 30%;
	text-align: center;
}

#one {
	background: #74CEB7;
	color: #004056;
}

#two {
	background: #004056;
}

#three {
	background: #2C858D;
}

.post.before, .post.active, .post.after {
	display: block;
}

.post.active {
	z-index: 45;
	-webkit-transform: translate3d( 0, 0, 0 );
}

.post.before {
	-webkit-transform: translate3d( 0, -100%, 0 );
	z-index: 40;
	opacity: .75;
}

.post.after {
	-webkit-transform: translate3d( 0, 100%, 0 );
	z-index: 40;
	opacity: .75;
}

.animate .post {
	-webkit-transition: all .25s ease;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}

.dragdown-reset .active {
	-webkit-transform: translate3d( 0, 0, 0 ) !important;
}
.dragdown-reset .before {
	-webkit-transform: translate3d( 0, -100%, 0 ) !important;
}

.dragdown-complete .active {
	-webkit-transform: translate3d( 0, 100%, 0 ) !important;
}
.dragdown-complete .before {
	-webkit-transform: translate3d( 0, 0, 0 ) !important;
	opacity: 1 !important;
}

.dragdown-refresh .active {
	-webkit-transform: translate3d( 0, 50px, 0 ) !important;
}
.dragdown-refresh .ptr {
	-webkit-transition: all .25s ease;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	-webkit-transform: translate3d( 0, 20px, 0 ) !important;
}

.dragup-reset .active {
	-webkit-transform: translate3d( 0, 0, 0 ) !important;
}
.dragup-reset .after {
	-webkit-transform: translate3d( 0, 100%, 0 ) !important;
} 

.dragup-complete .active {
	-webkit-transform: translate3d( 0, -100%, 0 ) !important;
}
.dragup-complete .after {
	-webkit-transform: translate3d( 0, 0, 0 ) !important;
	opacity: 1 !important;
}